
body{margin:0;}knheader{}
header{}
header div:first-child{padding:4%;background:white;width:90%;float:left;
}
.clear{clear:both;}

.logo{border: solid black 2px;
 }
nav{background:royal blue;}
nav ul{margin :5px;padding:0;}
nav ul li{
    list-style:none;float:left;margin:0.5%;padding:1%;background:#989595;
}
nav ul li a{text-decoration :none:display;block;width:100%}
nav ul li :hover {background:voilet; transition: .5s;}
#container{
display:flex; flex-direction:row; width:100%; height:300px; background:yellow;}

.left{
	border:solid;
	width:50%
}
.right{
	border:solid;
width:50%
}

#content{
 margin: 0px; height:300px;background:pink; width:100%;display:flex;
}
