body{margin:0;}
header{}
header div:first-child{padding:4%;background blue;width:35%;float:left; width: 15%;}
.clear{clear:both;}

.logo{border: solid black 2px; }

nav{background:maroon;}
nav ul{margin :5px;padding:0;}
nav ul li{
    list-style:none;float:left;margin:0.5%;padding:1%;background:#989595;
}
nav ul li a{text-decoration :none:display;block;width:100%}
nav ul li :hover {background:lightgreen; transition: .5s;}

.container{
	background-color:pink;
	height:500px;
	width:100%;
	display:grid;
	column-gap:10px;
	border:solid;
	padding:10px;
	grid-template-columns:auto auto auto ;
    grid-gap:100px;
}
.grid-item{
	background-colour:rgba(255,255,255,0,8);
	border:1px solid rgba(0,0,0,0,8);
	padding:20px;
height:120px;
width:120px;
border:solid;
text-align=center;
}
	
	
	
	
	

	


	
  
	  
	 
	  