

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
	height: 200vh;
}

.logo{
    border: solid black 2px; 
    height: 100px;
    width: 100px;
}

header a {
  text-decoration: none;
}

header {
    margin-top: 1px;
  padding: 0 20px;
  background-color: maroon;
  height: 55px;
  display: flex;
  justify-content: space-between;
}



ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: black;
}

ul li {
  padding: 5px;
  margin-left: 15px;
  background: #989595;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.2s;
}


#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 37px;
  height: 4px;
  background-color: white;
  margin: 6px 0;
  transition: 0.3s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 50px;
  left: 1;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 11px;
}


.container{
	background-color:wheat;
	height:600px;
	width:100%;
	display:grid;
	column-gap:10px;
	border:solid;
	padding:10px;
	grid-template-columns:auto auto auto ;
    grid-gap:100px;
}
.grid-item{
	background-colour:rgba(255,255,255,0,8);
	border:1px solid rgba(0,0,0,0,8);
	padding:20px;
height:120px;
width:120px;
border:solid;
text-align: center;
}
	
	
	@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;}

.container{
	display: block;
	height: 84vh;
}

	
	

	


	
  
	  
	 
	  